GOOGLE_ISSUER=https://accounts.google.com
GOOGLE_CLIENT_ID=61096892386-63vc8h4lifmllg1l27rjsg8tb0si9v45.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=<your-client-secret>
GOOGLE_REDIRECT_URI=http://localhost:8080/auth/google/callback
